<div class="welcome">
  <h1>Welcome to your Dashboard!</h1>
</div>

<%= render partial: 'import_form' %>

<%= render partial: 'query_form' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Search Results</h4>
  </div>
  <div class="panel-body" id="results">
  </div>
</div>
